<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= file.filename %>
    </title>
    <meta name="description" content="View this file shared to you on PrintedWaste grid">
    <meta name="theme-color" content="#5865F2">
    <meta property="og:title" content="<%= file.filename %>">
    <meta property="og:description" content="View this file shared to you on PrintedWaste grid">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="PrintedWaste">
    <meta property="og:locale" content="en_US">
    <meta property="og:locale:alternate" content="en_GB">
    <meta property="og:url" content="<%= file.redirectUrl %>">
    <% if (file.image) { %>
        <meta property="og:image" content="<%= file.image %>">
        <% } %>
            <style>
                body {
                    background-color: #7289DA;
                    /* Discord blurple color */
                }
            </style>
            <script>
                window.location.replace("<%= file.redirectUrl %>");
            </script>
</head>

<body>
    <!-- This content will not be shown as there's an instant redirect -->
</body>

</html>